.App {
    text-align: center;
    background: #2d2d2d;
    height: auto;
    color: #fff;
  }
  
  .jumbotron2 {
    background: #444;
  }

  .pageHeader {
    margin-top: 5%;
    h1 {
      font-size: 50px;
    }
  }
  